.imageContainer{
    position:  relative !important;
    width: 100%;
}
.productImage{
    left: 0;
    width: 100%;

}
.productViewButton{
    box-sizing: border-box;
    border: 1px solid rgb(45, 16, 114);
    position: absolute !important;
    padding: 10px 30px;
    left: 0;
    bottom: -50px;
    background-color: rgb(255, 255, 255);
    color: black;
    transform: translate(50%,0);
    opacity: 0;
    transition: all 0.5s;
};